<div class="col-xs-12">

  <h2>Latest Posts</h2>

  <div class="posts-list" *ngFor="let post of posts; let idx=index">

    <div *ngIf="idx < getMaxPosts()" class="post">
      <h4 class="post-header">{{post.title}}
        <span class="post-time">{{ (post.createdTime * 1000) | date : 'EEEE, MMMM d, yyyy, h:mm a' }}</span>
      </h4>

      <details [innerHTML]="post.summary" class="post-summary"></details>

      <a [routerLink]="['/posts/' + post.id]">Click for full details</a>

      <hr/>
    </div>

  </div>

</div>