.seed-header{
  margin-bottom: 20px;

  img, .header-mobile-text {
    display: block;
    width: 645px;
    margin: 0 auto;
  }

  p {
    width: 50px;
    margin: 0 auto;
    text-align: center;
  }
}