<section class="as-view-home row">

  <div class="row">
    <div class="col-xs-10">

      <h2 class="welcome-text-heading">Welcome to The Greenhouse Webapp Seed project!</h2>

      <p class="welcome-text-body">This is a sample project to demonstrate a basic Angular 2 and Webpack build.</p>

      <p>Checkout our latest posts below, or all our posts over <a [routerLink]="['/posts']">here</a>!</p>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="posts-container">
        <seed-posts-list></seed-posts-list>
      </div>

    </div>
  </div>

</section>
