@import '../../components/bootstrap/bootstrap';

.seed-view-home {

  margin-bottom: 15px;

  .welcome-text-heading {
    color: $black;
    text-decoration: underline;
  }

  .welcome-text-body {
    color: $black;
  }

  input {
    color: $black
  }

}