<div class="col-xs-12 seed-view-post-details">
  <p>TODO fix this layout (icon left aligned to details</p>

  <div class="row">

    <div class="post-details">

      <div class="col-xs-4">
        <i class="cal-icon fa fa-calendar-o"></i>
      </div>

      <div class="col-xs-6">
        <div *ngIf="getPostDetails()">
          <p>Post Title: {{ getPostDetails().title }}</p>
          <p>Post Summary:<p>
          <p [innerHTML]="getPostDetails().summary"></p>
          <p>Post Created Time: {{ (getPostDetails().createdTime * 1000) | date : 'EEEE, MMMM d, yyyy, h:mm a' }}</p>
        </div>
      </div>

      <div class="col-xs-2">
      </div>

    </div>

  </div>
</div>